icon-margin{
    cursor: pointer;
}
/* .t-head {
    background-color: #d0e5f9;
}
.t-header-filter {
    position: relative;
    box-sizing: border-box;
    margin-top: 2px;
    width: 100%;
    text-align: center;
}
.s-control {
    display: flex;
    border: solid 1px #aaa;
    background-color: #fff;
    padding: 0.25rem;
}
.border {
    border: 0px;
    padding-bottom: 5px;
    font-size: x-small
}
.t-head tr th {
    padding-bottom: 0px;
    color: #555;
}
.button {
    border: none;
    color: white;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 3px 2px;
    cursor: pointer;
  } */
/* 

  .t-head {
    background-color: #d0e5f9;
}
.t-header-filter {
    position: relative;
    box-sizing: border-box;
    margin-top: 2px;
    width: 100%;
    text-align: center;
}
.s-control {
    display: flex;
    border: solid 1px #aaa;
    background-color: #fff;
    padding: 0.25rem;
}
.border {
    border: 0px;
    padding-bottom: 5px;
}
.t-head tr th {
    padding-bottom: 0px;
    color: #555;
}
.button {
    border: none;
    color: white;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 3px 2px;
    cursor: pointer;
  } */

.text{
    margin-bottom: 6px;
}
.title {
    margin-left: -30px;
    color: #000000;
    margin-bottom: 1rem !important;
    width: 100%;
    font-size: 17px;
}
.modal-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
    color: #000;
}
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 15px;
}

.modal{
    margin-top:7vw;
}


.form-control{
    width:auto;
    height: 32px ;
    margin: 3px;
    border: 1px solid #81badb;
}

.modal-footer .btn-success{
    margin-right: 0vw;
}

.ml-2 {
    margin-left:2vw;;
}