.text {
    margin-bottom: 6px;
}

.title {
    margin-left: -30px;
    color: #495057;
    margin-bottom: 1rem !important;
    width: 100%;
}

.modal-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
    color: #000;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 15px;
}