 
<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="flex-fill">

        </div>
        <div class="m-3"><a href="#" data-action="live-emp" class="tab-lnk active"><i class="fas fa-user"></i><span
                    class="info-text font-bold fnt-5 ml-2 mr-1" id="spnLiveEmployeeCount">13</span>Salary Processed</a>
        </div>
        <div class="m-3"><a href="#" data-action="left-emp" class="tab-lnk"><i class="fas fa-user"></i><span
                    class="danger-text font-bold fnt-5 ml-2 mr-1" id="spnLeftEmployeeCount">32</span>- Not Processed</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead class="t-head">
                    <tr>
                        <th><a>Code</a></th>
                        <th><a>Name</a></th>
                        <th><a>Branch</a></th>
                        <th><a>Department</a></th>
                        <th><a>Designation</a></th>
                        <th><a>Division</a></th>
                        <th><a>Action</a></th>
                    </tr>
                    <tr >
                        <td>
                            <input type="text" class="form-control emp-no" name="employeeNumber" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeName" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeEmail" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeEmail" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeEmail" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeEmail" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeName" >
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                         <tr>
                             <td>101</td>
                             <td>Bharath</td>
                             <td>HYD</td>
                             <td>IT</td>
                             <td>UI</td>
                             <td>A!</td>
                             <td>
                                <a  title="View" class="icon-margin"><span class="fas fa-eye"></span></a>
                                <a title="Edit" class="icon-margin"><i class="fas fa-user-edit"></i></a>
                             </td>
                         </tr>
                    </tbody>

            </table>
        </div>
    </div>
    
</div>











