<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="m-2">
            <div class="h-size"><em class="fa fa-user"></em> <strong> Loan and Advance Mapping</strong></div>
        </div>
        <div class="flex-fill">
        </div>
    </div>
    <section class="content">
        <div class="row">
            <div class="col-md-5 column-1">
                <h4>Source</h4>
                <form [formGroup]="form">
                    <div class="row">
                        <div class="drop-down-width  text-center">
                            <label><b>Branch </b><span class="color-red">*</span></label>
                            <select formControlName="branch" class="custom-select-box form-control text-center"
                                [(ngModel)]="sourceBranch" (change)="changeBranch(sourceBranch)">
                                <option value='' disabled>--Select Branch--</option>
                                <option *ngFor="let branch of branchList" [ngValue]="branch">
                                    {{branch.branchName}}
                                </option>
                            </select>
                            <div class="align-center"><span class="color-red"
                                    *ngIf="submitted && form_.branch.errors">Branch
                                    {{requiredErrorText}}</span></div>
                        </div>
                        <div class="drop-down-width  text-center">
                            <label><b>Department </b><span class="color-red">*</span></label>
                            <select formControlName="department" [(ngModel)]="sourceDept"
                                (change)="changeDepartment(sourceDept)"
                                class="custom-select-box form-control text-center">
                                <option value="" disabled>--Select Department--</option>
                                <option *ngFor="let dept of departmentList" [ngValue]="dept">
                                    {{dept.departmentName}}
                                </option>
                            </select>
                            <div class="align-center"><span class="color-red"
                                    *ngIf="submitted && form_.department.errors">Department
                                    {{requiredErrorText}}</span></div>
                        </div>
                        <div class="drop-down-width  text-center">
                            <label><b>Project </b></label>
                            <select id="project" formControlName="project" [(ngModel)]="sourceProject"
                                (change)="changeProject(sourceProject)"
                                class="form-control custom-select-box text-center">
                                <option value="" selected disabled>--Select Project--</option>
                                <option *ngFor="let project of projectList" [ngValue]="project">
                                    {{project.projectName}}
                                </option>
                            </select>
                            <!-- <div class="align-center"><span class="color-red"
                                    *ngIf="submitted && form_.project.errors">Project
                                    {{requiredErrorText}}</span></div> -->
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <b>Employee List :</b>
                </div>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="searchItem" placeholder="Search..." />
                </div>
                <div class="border-design over">
                    <label class="margin-left-10 s-lable font-15 text-center"><b><u>Please select
                                employee(s)</u></b></label>
                    <table class="margin-left-10">
                        <tr>
                            <th>
                                <input type="checkbox" class="select-all" name="allStudents"
                                    [checked]="employeeList.length == 0" [value]="employeeList"
                                    (change)="selectAll($event)" [disabled]="employeeList.length == 0">
                            </th>
                            <th>
                                <label class="s-lable">&nbsp;Employee Name</label>
                            </th>
                        </tr>
                        <tr *ngIf="toggleLoader">
                            <td colspan="2">
                                <img src="./assets/images/loader-icon.gif" class="loader-margin img-responsive"
                                    alt="loading....">
                            </td>
                        </tr>
                        <tr *ngFor="let emp of employeeList | search : searchItem">
                            <td>
                                <input type="checkbox" class="status-check select-all" [checked]="emp.selected"
                                    (change)="onClickCheckBox(emp.employeeId)" name="status">
                            </td>
                            <td>&nbsp;{{emp.firstName}} {{emp.lastName}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-1 text-center column-2">
                <div>
                    <a (click)="addRight()" class="btn btn-success"><i class="fas fa-angle-double-right fa-lg"
                            style="margin-top: 7px;"></i></a>
                    <!-- <br><br>
                    <a (click)="addLeft()" class="btn btn-danger"><i class="fas fa-angle-double-left fa-lg"
                            style="margin-top: 7px;"></i></a> -->
                </div>
            </div>
            <div class="col-md-5 column-1">
                <h4>Destination</h4>
                <form [formGroup]="form1">
                    <div class="row">
                        <div class="drop-down-width-50 text-center">
                            <label><b>Type </b><span class="color-red">*</span></label>
                            <select class="custom-select-box form-control" [(ngModel)]="loanType"
                                formControlName="loanType" (ngModelChange)="changeLoanType()">
                                <option value='' disabled>--Select Loan Type--</option>
                                <option *ngFor="let loan of loanTypes" [ngValue]="loan">
                                    {{loan}}
                                </option>
                            </select>
                            <div class="align-center"><span class="color-red"
                                    *ngIf="submitted && form_1.loanType.errors">Loan Type
                                    {{requiredErrorText}}</span></div>
                        </div>
                        <div class="drop-down-width-50 text-center">
                            <label><b>{{loanType}} Type </b><span class="color-red">*</span></label>
                            <select class="custom-select-box form-control" [(ngModel)]="destinationLoan"
                                (change)="changeLoanDestination(destinationLoan)" formControlName="loan">
                                <option value='' disabled>--Select Loan Type--</option>
                                <option *ngFor="let loan of LoanTypesObject" [ngValue]="loan">
                                    {{loan.loanName}}
                                </option>
                            </select>
                            <div class="align-center"><span class="color-red"
                                    *ngIf="submitted && form_1.loan.errors">Loan Type
                                    {{requiredErrorText}}</span></div>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <b>Employee List :</b>
                </div>
                <div>
                    <input type="text" class="form-control" [(ngModel)]="searchInput" placeholder="Search..." />
                </div>
                <div class="border-design over">
                    <label class="margin-left-10 s-lable font-15"><strong>&nbsp;<u>Employee Name</u></strong></label>
                    <table class="margin-left-10">
                        <tr *ngIf="toggleLoaderDestination">
                            <td colspan="1">
                                <img src="./assets/images/loader-icon.gif" class="loader-margin img-responsive"
                                    alt="loading....">
                            </td>
                        </tr>
                        <tr *ngFor="let emp of destinationEmployeeList | search : searchInput">
                            <td>&nbsp;{{emp.firstName}} {{emp.lastName}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" id="btnComponentSave" class="button btn-primary btn-style" (click)="update()"><i
                        class="fas fa-save"></i>
                    Update</button>
                <button type="submit" id="btnComponentSave" class="button btn-warning btn-style" (click)="onClick()">
                    Clear</button>
                <!-- <button type="submit" id="btnComponentSave" class="button btn-danger btn-style" (click)="onClick()">
                    Cancel</button> -->
            </div>
        </div>
    </section>
</div>