<div class="triangle"></div>
<div [ngClass]="(list.length >= 4)?'mannual-height-scroll':'auto-height-scroll'">
    <span *ngFor="let data of list">
        <div class="container">
            <div class="content"><a data-toggle="modal" data-target="#chat_modal"
                    (click)="clickNotification(data.employeeId,data.firstName)"><b>{{data.firstName}}</b></a>
            </div>
        </div>
    </span>
</div>
<div class="modal fade" id="chat_modal" role="dialog" data-backdrop="false" >
    <div class="modal-dialog modal-md">
        <div class="modal-content model">
            <div class="modal-header " id="msg_header">
                <h4 class="modal-title">{{receiverEmployeeName}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <ng-container *ngFor="let chat of chatList">
                    <h3>{{chat.senderName}}  {{chat.createdDate | date:'dd-MM-yyyy'}} : {{chat.chatMessage}}</h3>
                    <!-- <h3>{{chat.chatMessage}}</h3> -->
                </ng-container>
                <!-- <h3 id="msg">{{notificationObj.message}}</h3>
                <h5 id="msg">Created On: {{notificationObj.createdDate | date:'dd-MM-yyyy'}}</h5> -->
            </div>
            <div class="modal-footer">
                <input type="text" [(ngModel)]="sendText" class="form-control pull-top-5" placeholder="Enter Message ">
                <button type="submit" id="btnComponentSend" (click)="btnComponentSend()" class="button btn-primary btn-style"><em
                    class="fas fa-save"></em>Send</button>
            </div>
        </div>
    </div>
</div>