<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-3">

            <h3 class="bg-info text-center text-white"><i class="fas fa-user mr-2"></i>Event Master</h3>
        </div>


        <div class="col-md-4 offset-md-5">

            <div class="m-2 d-flex align-items-center">
                <i class="fas fa-search mr-2"></i>
                <span class="mr-2">Search</span>
                <div class="text-box-with-icon">
                    <input type="text" id="txtSearchText" />
                    <button type="button" id="btnClearSearch"><i class="fas fa-undo"></i></button>
                </div>
            </div>

        </div>

    </div>




    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered mt-4">
                <thead class="t-head">
                    <tr>
                        <th *ngFor="let head of headers"><a>{{head}}</a></th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <td>{{employee.Title}}</td>
                        <td>{{employee.Description}}</td>
                        <td>{{employee.Date}}</td>
                        <td>{{employee.StartTime}}</td>
                        <td>{{employee.EndTime}}</td>
                        <td>{{employee.Status}}</td>

                        <td>
                            <a title="View" class="icon-margin"><span class="fas fa-eye"></span></a>

                            <a title="Edit" class="icon-margin"><i class="fas fa-user-edit"></i></a>
                            <a title="Delete" class="icon-margin"><span class="fas fa-trash-alt"></span></a>
                        </td>
                        
                        
                      
                    </tr>
                </tbody>

            </table>


            <div class="pagination-block">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#addQueryManagement">
                <i class="fas fa-user-plus"></i> Add
             </button>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade mt-4" id="addQueryManagement" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title text-center"><i class="fas fa-edit ml-1"></i> Exit Clearance Heads</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form>

                        <div class="form-group">
                          <label for="title">Ttile</label>
                          <input type="text" class="form-control form-control-sm" id="title" placeholder="Example input">
                        </div>

                        <div class="form-group">
                          <label for="date">Date</label>
                          <input type="date" class="form-control form-control-sm" id="date" placeholder="Another input">
                        </div>

                        <div class="form-group">
                            <label for="startTime">Start time</label>
                            <input type="text" class="form-control form-control-sm" id="startTime" placeholder="Example input">
                          </div>

                          <div class="form-group">
                            <label for="endTime">End time</label>
                            <input type="text" class="form-control form-control-sm" id="endTime" placeholder="Example input">
                          </div>


                          <div class="form-group">
                            <label for="endTime">Description</label>
                            <textarea class="form-control form-control-sm" cols="20"></textarea>
                          </div>


                      </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>

</div>