<div class="container-fluid">

    <div class="row">

        <div class="col-md-4">

            <div class="row">
                <div class="col-md-12">

                    <h3 class="text-white bg-info text-center mt-2"><i class="fas fa-user mr-2"></i>Employee Group
                        List</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-sm table-hover">
                        <thead class="thead-dark">
                            <tr>

                                <th>Role Name</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Sales Employee Rights</td>

                            </tr>
                            <tr>
                                <td>Manager Rights</td>

                            </tr>

                            <tr>
                                <td>Full HRMS Rights</td>

                            </tr>

                            <tr>
                                <td>Employees ESS Rights</td>
                            </tr>




                        </tbody>
                    </table>



                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-sm btn-secondary ml-2">
                        <i class="fas fa-user-plus"></i> Add
                    </button>
                    <button class="btn btn-sm btn-secondary ml-2">
                        <i class="fas fa-user-edit"></i> Edit
                    </button>
                    <button class="btn btn-sm btn-secondary ml-2">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                </div>
            </div>

        </div>


        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">

                    <h3 class="text-white bg-info text-center mt-2"><i class="fas fa-user mr-2"></i> Select Role and
                        Change Capabilities List</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-block">
                        <table class="table table-bordered table-sm table-hover">
                            <thead class="thead-dark">
                                <tr>

                                    <th>Menus</th>
                                    <th style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Employee</td>
                                    <td></td>


                                </tr>
                                <tr>
                                    <td>My Profile</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>Asset</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>Medical Card</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>Help Desk</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>Exit Clearance</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>Document Center</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>



                                <tr>
                                    <td>Employee</td>
                                    <td></td>


                                </tr>
                                <tr>
                                    <td>My Profile</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>Asset</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>Medical Card</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>Help Desk</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>Exit Clearance</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>Document Center</td>

                                    <td style="text-align: left;">
                                        <input type="checkbox" id="chk" />
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row mt-4">

                <div class="col-md-12">

                    <button class="btn btn-sm btn-secondary ml-2">
                        <i class="fas fa-save"></i> Update
                    </button>

                </div>
            </div>

        </div>

    </div>




</div>