tr td{
    cursor: pointer;
}
label {
    font-size: 15px;
    font-weight: 500;
}
.modal-title {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
    color: #000;
}
.btn-footer {
    margin: 1px;
    margin-bottom: 15px;
    padding-top: 10px;
    border-top-style: groove;
}
.color-red {
    color: red;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.padding-change {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}