.company-title{
    padding-top: 15px;
    padding-left: 15px;
    color: #495057;
}
label{
    padding: 10px;
    font-size: 15px;
}
.btn-middle{
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 15px;
}
.form-field input[type="text"], .form-field input[type="password"], .form-field input[type="email"], .form-field input[type="datetime"], .form-field input[type="phone"], .form-field input[type="numeric"], .form-field select {
    width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="datetime"], input[type="phone"], input[type="numeric"], textarea, select {
    border: solid 1px #3aadf0;
    border-radius: 3px;
    padding: 3px;
    display: block;
    box-shadow: 0px 0px 2px #ccc;
    outline: none!important;
    cursor: text;
}

.field {
    
}

.form-field {
    margin-bottom: 0rem;
}

.form-section > .title {
    margin-left: -30px;
    font-size: 1rem;
    font-weight: bold;
    color: #5d6170;
    font-style: normal;
    margin-bottom: 1.5rem;
}

.form-section > .title > .fas {
    margin-right: 0.5rem;
    display: inline-block;
    width: 20px;
}

.margin-field {
    margin-top: 25px;
    margin-left: -38px;
}
.custom-select-box {
    height: auto;
    padding-left: 8px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    color: #222222;
}
.padding-top {
    padding-top: 8px;
}
.margin-top {
    margin-top: 10px;
}
.back-btn {
    background-color: #bbbbbb;
}

.form-control::-webkit-input-placeholder { 
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 1px;
    padding-top: 2px;
    color: hsl(9, 17%, 24%);
  }
  .custom-select-box {
    width: 100%;
    /* font-weight: 500; */
    background-color: white;
    height: 38px;
    font-size: 1.06rem;
    color: #2d3135;
    font-family: inherit;
    cursor: pointer;
  }