
.table-eg tr th{
    background-color: #d0e5f9;
    width: 20%;
    color: #555;
}
.h-size{
    padding-bottom: 6px;
}

.emp-rating{
    font-size: 18px;
    padding: 5px;

}
.emp-rating1{
    margin-left: 800px;


}
.ml-380{
    margin-left: 380px;
}
