<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-2">
            <h3 class="text-center text-white bg-info"><i class="fas fa-user mr-1"></i>General Info</h3>
        </div>
    </div>



    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="softwareLink">Software Link</label>
            <input type="text" class="form-control form-control-sm" id="softwareLink" placeholder="Software Link">
          </div>
          <div class="form-group col-md-6">
            <label for="forward">Forward Leave after Days</label>
            <input type="text" class="form-control form-control-sm" id="forward" placeholder="Forward Leave after Days">
          </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="url-link">URL Link</label>
                <input type="text" class="form-control form-control-sm" id="url-link" placeholder="1234 Main St">
              </div>
              <div class="form-group col-md-6">
                <label for="approver">TDS Approver</label>
                <select id="approver" class="form-control form-control-sm">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Allow Short Leave
                    </label>
                  </div>
              </div>
              <div class="form-group col-md-6">

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Allow Short Leave
                    </label>
                  </div>
               
              </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="leave">Short Leave</label>
            <input type="text" class="form-control form-control-sm" id="leave">
          </div>

          <div class="form-group col-md-6">
            <label for="noOfTDS">No.Of TDS App</label>
            <input type="text" class="form-control  form-control-sm" id="noOfTDS">
          </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="duration">Short Leave Duration</label>
              <input type="text" class="form-control form-control-sm" id="duration">
            </div>
  
            <div class="col-md-6 mt-4">
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Show Punch IN / OUT
                    </label>
                  </div>
            </div>
           
            
          </div>



          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="duration">Short Leave Apply After Time</label>
              <input type="text" class="form-control form-control-sm" id="duration">
            </div>
  
            <div class="col-md-6 mt-4">
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Allow Leave Hourly Basis
                    </label>
                  </div>
            </div>
           
            
          </div>



          <div class="form-row">

            <div class="col-md-6 mt-4">
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Short Leave Past Days
                    </label>
                  </div>
            </div>


            <div class="form-group col-md-6">
              <label for="duration">Select Department</label>
              <select class="form-control form-control-sm">
                <option>select</option>
                <option>Admin</option>
                <option>Accounts</option>
              </select>
            </div>
            
          </div>



          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="softwareLink">Don't Allow Leave Application After</label>
              <input type="text" class="form-control form-control-sm" id="softwareLink" placeholder="Software Link">
            </div>
            <div class="form-group col-md-6">
              <label for="forward">Select Recruiter</label>
              <input type="text" class="form-control form-control-sm" id="forward" placeholder="Forward Leave after Days">
            </div>
          </div>


       
        <button type="submit" class="btn btn-secondary btn-sm">Save</button>
      </form>

</div>