/* .form-field{

    display: flex;
} */
@import "~@ng-select/ng-select/themes/default.theme.css";

.form-field label {
    min-width: 40%;
    color: #5d6170;
    font-weight: normal;
}



.form-section > .title {
    margin-left: -30px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #5d6170;
    font-style: italic;
    margin-bottom: 1rem;
}

.form-section {
    padding-left: 30px;
    margin-bottom: 1rem;
}
.text{
margin-bottom: 6px;
}
/* add employee */

.form-control{
    height: 30px !important;
}
.ml-60{
    margin-left: 60px;
}


.form-checkbox:focus {
    /* color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0; */
    box-shadow: 0 0 0 0;
}
.m-2{
    display: flex;
}
.left-btn{
    margin-left: 1100px;
}