<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-2">
            <h3 class="text-white text-center bg-info"><i class="fas fa-envelope mr-1"></i>Email Setting</h3>
        </div>
    </div>


    <form>
        <div class="form-group row">

            <div class="col-md-3">
                <h4>Birthday Mailer</h4>
            </div>

            <div class="col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="chk_red">

                </div>
            </div>

            <div class="col-md-3">
                <h4>Birthday CC Mail</h4>
            </div>

            <div class="col-md-3">
                <input type="text" class="form-control form-control-sm" />
            </div>

        </div>



        <div class="form-group row">

            <div class="col-md-3">
                <h4>Anniversary Mailer</h4>
            </div>

            <div class="col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="chk_red">

                </div>
            </div>

            <div class="col-md-3">
                <h4>Anniversary CC Mail</h4>
            </div>

            <div class="col-md-3">
                <input type="text" class="form-control form-control-sm" />
            </div>

        </div>



        <div class="form-group row">

            <div class="col-md-3">
                <h4>Anniversary Company Mailer</h4>
            </div>

            <div class="col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="chk_red" >
                   
                    </div>
            </div>

            <div class="col-md-3">
                <h4>Anniversary Company CC Mail</h4>
            </div>

            <div class="col-md-3">
               <input type="text" class="form-control form-control-sm"/>
            </div>

        </div>





        <div class="form-group row">

            <div class="col-md-3">
                <h4>Late Attendance Mailer</h4>
            </div>

            <div class="col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="chk_red" >
                   
                    </div>
            </div>

            <div class="col-md-3">
                <h4>Late Attendance CC Mailer</h4>
            </div>

            <div class="col-md-3">
               <input type="text" class="form-control form-control-sm"/>
            </div>

        </div>




        <div class="form-group row">

            <div class="col-md-3">
                <h4>Miss Punch Mailer</h4>
            </div>

            <div class="col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="chk_red" >
                   
                    </div>
            </div>

            <div class="col-md-3">
                <h4>Miss Punch CC Mail</h4>
            </div>

            <div class="col-md-3">
               <input type="text" class="form-control form-control-sm"/>
            </div>

        </div>




        <div class="form-group row">

            <div class="col-md-3">
                <h4>Absent Self Mailer</h4>
            </div>

            <div class="col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="chk_red" >
                   
                    </div>
            </div>

            <div class="col-md-3">
                <h4>Absent Self CC Mail</h4>
            </div>

            <div class="col-md-3">
               <input type="text" class="form-control form-control-sm"/>
            </div>

        </div>




        <div class="form-group row">

            <div class="col-md-3">
                <h4>Absent Reporting Head Mailer</h4>
            </div>

            <div class="col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="chk_red" >
                   
                    </div>
            </div>

            <div class="col-md-3">
                <h4>Absent Reporting Head CC Mail</h4>
            </div>

            <div class="col-md-3">
               <input type="text" class="form-control form-control-sm"/>
            </div>

        </div>

        <button type="submit" class="btn btn-secondary btn-sm">Save</button>

    </form>

</div>