.tttt{
    margin-top: 32px;
}

.color-red{
    color: red;
}
.form-control::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 1px;
    padding-top: 2px;
    color: hsl(9, 17%, 24%);
  }
  
  .read-only {
    background-color: #eeeeef;
    cursor: auto;
  }
  
  .edit {
    cursor: pointer;
  }
  
  .padding-field-bottom {
    padding-bottom: 7px;
  }
  
  label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 16px;
  }
  
  .height-45 {
    height: 45px;
  }
  
  .custom-select-box {
    width: 100%;
    font-weight: 500;
    background-color: white;
    height: 38px;
    font-size: 1.06rem;
    color: #2d3135;
    font-family: none;
    cursor: pointer;
  }
  
  .modal-title {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    flex: 1;
    color: #000;
  }
  
  .table tr th, .table tr td {
    border: solid 1px #a3a2a3 !important;
    font-size: 14px;
  }
  
  input, textarea {
    font-size: 1.06rem;
    cursor: text;
  }
  
  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-top: 8px;
  }
  
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 8px;
  }
  
  button:disabled,
  button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .is-disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
  }
  
  .box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header a:hover {
    background: #00a65a !important;
  }
  
  .myTable {
    text-align: left;
    background-color: #e6ece1;
    border-collapse: collapse;
  }
  
  .myTable th {
    background-color: #e6ece1;
    color: black;
    table-layout: fixed;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  
  .myTable td,
  .myTable th {
    border: 1px solid #e6ece1;
    ;
  }
.xxxyyy{
  margin-top: 20%;
}