<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="m-2">
            <div class="h-size"><i class="fa fa-user mr-1"></i> <b>Employee Permissions Assignment</b></div>
        </div>
        <div class="flex-fill">
        </div>
        <div class="m-3"><input class="form-control rounded-pill py-2 border-right-0 border" type="search"
                placeholder="search" id="example-search-input" [(ngModel)]="searchModel"
                (ngModelChange)="getAllEmployees()">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead class="t-head">
                    <tr>
                        <th *ngFor="let head of headers"><a>{{head}}</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employeeList | paginate: {
                        itemsPerPage: itemsPerPage,
                        currentPage: currentPage,
                        totalItems: totalItems
                      };let i=index">
                        <td>{{employee.employeeId}}</td>
                        <td>{{employee.employeeCode}}</td>
                        <td><span class="mr-2">{{employee.firstName}}</span> <span>{{employee.lastName}}</span></td>
                        <td>{{employee.branchName}}</td>
                        <td>{{employee.departmentName}}</td>
                        <td>{{employee.designationName}}</td>
                        <td>{{employee.rolesAssigned}}</td>
                        <!-- <td>{{employee.divisionName}}</td> -->
                        <!-- <td>{{employee.gradeName}}</td> -->
                        <!-- <td>{{employee.categoryName}}</td> -->
                        <td *ngIf="employee.project!=null">{{employee.project.projectName}}</td>
                        <td *ngIf="employee.project==null"></td>
                        <td class="action-width">
                            <a  title="View" class="icon-margin" (click)="getRolePermissionDetails(employee)"
                            data-toggle="modal" data-target="#rolePermission_modal"><span class="fas fa-eye"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" *ngIf="totalElements!=0">
                <div class="col-md-6 pull-left"><span class="show-entry">Showing
                        <span>{{showingFrom}} to {{showingTo}} of {{totalElements}} entries</span></span>&nbsp;
                </div>
        
                <div class="col-md-6 pull-right" *ngIf="totalItems > 0">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    
    
</div>

<div class="modal fade common-model" id="rolePermission_modal" style="margin-top:40px;">
    <div class="modal-dialog modal-xl" style="max-width: 1270px;">
        <div class="modal-content">
            <!-- <form > -->
            <div class="modal-header">
                <div class="modal-title"> Employee Permissions Details</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center mt-2">
                            <div class="m-2">
                                <div class="h-size"><em class="fa fa-user"></em> <strong> Permissions Assignment for Employee : {{firstName}} {{lastName}}</strong></div>
                            </div>
                            <div class="flex-fill">
                            </div>
                        </div>
                        <section class="content">
                            <div class="alert alert-danger" *ngIf="isFormValuesSame">
                                Source and destination form values are same, please check once.
                            </div>
                            <div class="row">
                                <div class="col-md-5 column-1">
                                    
                                    <div class="text-center">
                                        <b>Roles/Permissions List :</b>
                                    </div>
                                    <div>
                                        <input type="text" class="form-control" [(ngModel)]="searchItem" placeholder="Search..." />
                                    </div>
                                    <div class="border-design over">
                                        <label class="margin-left-10 s-lable font-15 text-center"><b><u>Please select
                                                    Roles/Permissions</u></b></label>
                                        <table class="margin-left-10">
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="select-all" name="allStudents2"
                                                        [checked]="rolesList.length == 0" [value]="rolesList"
                                                        (change)="selectAll2($event)" [disabled]="rolesList.length == 0">
                                                </th>
                                                <th>
                                                    <label class="s-lable">&nbsp;Roles</label>
                                                </th>
                                            </tr>
                                            <tr *ngIf="toggleLoader">
                                                <td colspan="2">
                                                    <img src="./assets/images/loader-icon.gif" class="loader-margin img-responsive"
                                                        alt="loading....">
                                                </td>
                                            </tr>
                                            <tr *ngFor="let emp of rolesList | search2 : searchItem">
                                                <td>
                                                    <input type="checkbox" class="status-check select-all" [checked]="emp.selected"
                                                        (change)="onClickCheckBox2(emp)" name="status">
                                                </td>
                                                <td>&nbsp;{{emp.permission}}</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="select-all" name="allStudents"
                                                        [checked]="permissionsList.length == 0" [value]="permissionsList"
                                                        (change)="selectAll($event)" [disabled]="permissionsList.length == 0">
                                                </th>
                                                <th>
                                                    <label class="s-lable">&nbsp;Permissions</label> 
                                                </th>
                                            </tr>
                                            <tr *ngIf="toggleLoader">
                                                <td colspan="2">
                                                    <img src="./assets/images/loader-icon.gif" class="loader-margin img-responsive"
                                                        alt="loading....">
                                                </td>
                                            </tr>
                                            <tr *ngFor="let emp of permissionsList | search2 : searchItem">
                                                <td>
                                                    <input type="checkbox" class="status-check select-all" [checked]="emp.selected"
                                                        (change)="onClickCheckBox(emp)" name="status">
                                                </td>
                                                <td>&nbsp;{{emp.permission}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-1 text-center column-2" style="margin-top: 12%;">
                                    <div>
                                        <a (click)="addRight()" class="btn btn-success"><i class="fas fa-angle-double-right fa-lg"
                                                ></i></a>
                                        <br>
                                        <!-- <a (click)="addLeft()" class="btn btn-danger"><i class="fas fa-angle-double-left fa-lg"
                                                style="margin-top: 7px;"></i></a> -->
                                    </div>
                                    
                                    <div>
                                        <a (click)="addLeft()" class="btn btn-danger"><i class="fas fa-angle-double-left fa-lg"
                                                style="margin-top: 3px;"></i></a>
                                        <br>
                                        <!-- <a (click)="addLeft()" class="btn btn-danger"><i class="fas fa-angle-double-left fa-lg"
                                                style="margin-top: 7px;"></i></a> -->
                                    </div>
                                </div>
                                <div class="col-md-5 column-1">
                                    <div class="text-center">
                                        <b>Assigned Roles/Permissions List :</b>
                                    </div>
                                    <div>
                                        <input type="text" class="form-control" [(ngModel)]="searchInput" placeholder="Search..." />
                                    </div>
                                    <div class="border-design over">
                                        <label class="margin-left-10 s-lable font-15"><strong><u>Please select
                                                    Permissions</u></strong></label>
                                        <table class="margin-left-10">
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="select-all" name="allStudents4"
                                                        [checked]="destinationPermissionsRoleList.length == 0" [value]="destinationPermissionsRoleList"
                                                        (change)="selectAllDestination2($event)"
                                                        [disabled]="destinationPermissionsRoleList.length == 0">
                                                </th>
                                                <th>
                                                    <label class="s-lable">&nbsp;Assigned Roles</label>
                                                </th>
                                            </tr>
                                            <tr *ngIf="toggleLoaderDestination">
                                                <td colspan="2">
                                                    <img src="./assets/images/loader-icon.gif" class="loader-margin img-responsive"
                                                        alt="loading....">
                                                </td>
                                            </tr>
                                            <tr *ngFor="let emp of destinationPermissionsRoleList | search2 : searchInput">
                                                <td>
                                                    <input type="checkbox" class="status-check select-all" [checked]="emp.selected"
                                                        (change)="onClickCheckBoxDestination2(emp)" name="status">
                                                </td>
                                                <td>&nbsp;{{emp.permission}}</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="select-all" name="allStudents"
                                                        [checked]="destinationPermissionsList.length == 0" [value]="destinationPermissionsList"
                                                        (change)="selectAllDestination($event)"
                                                        [disabled]="destinationPermissionsList.length == 0">
                                                </th>
                                                <th>
                                                    <label class="s-lable">&nbsp;Assigned Permissions</label>
                                                </th>
                                            </tr>
                                            <tr *ngIf="toggleLoaderDestination">
                                                <td colspan="2">
                                                    <img src="./assets/images/loader-icon.gif" class="loader-margin img-responsive"
                                                        alt="loading....">
                                                </td>
                                            </tr>
                                            <tr *ngFor="let emp of destinationPermissionsList | search2 : searchInput">
                                                <td>
                                                    <input type="checkbox" class="status-check select-all" [checked]="emp.selected"
                                                        (change)="onClickCheckBoxDestination(emp)" name="status">
                                                </td>
                                                <td>&nbsp;{{emp.permission}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <br>
                            <div class="row mt-2">
                                <div class="col-md-12 text-center">
                                    <button type="submit" id="btnComponentSave" class="button btn-primary btn-style mr-3" (click)="update()"><i
                                            class="fas fa-save"></i>&nbsp;<span *ngIf="updateButton">Update</span>
                                            <div *ngIf="!updateButton">Save</div>
                                        </button>
                                    <button type="submit" id="btnComponentSave" class="button btn-warning btn-style ml-3" (click)="onClick()">
                                        Clear</button>
                                    <!-- <button type="submit" id="btnComponentSave" class="button btn-danger btn-style" (click)="onClick()">
                                        Cancel</button> -->
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
