/* .table-head-bg{
    background-color: #6fc8f4;
}
.Lemp{
    color:rgb(138, 216, 230);
}
.Lemp1{
    color:rgb(235, 193, 146);
}
.Lemp2{
    color:rgb(206, 47, 255);
} */

/* 
.t-head {
    background-color: #d0e5f9;
}
.t-header-filter {
    position: relative;
    box-sizing: border-box;
    margin-top: 2px;
    width: 100%;
    text-align: center;
}
.s-control {
    display: flex;
    border: solid 1px #aaa;
    background-color: #fff;
    padding: 0.25rem;
}
.border {
    border: 0px;
    padding-bottom: 5px;
}
.t-head tr th {
    padding-bottom: 0px;
    color: #555;
}
.button {
    border: none;
    color: white;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 3px 2px;
    cursor: pointer;
  } */