
<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="flex-fill">

        </div>
        <div class="m-3"><a href="#" data-action="live-emp" class="tab-lnk active"><i class="fas fa-user"></i><span
                    class="info-text font-bold fnt-5 ml-2 mr-1" id="spnLiveEmployeeCount">132</span>Live Employees</a>
        </div>
        <div class="m-3"><a href="#" data-action="left-emp" class="tab-lnk"><i class="fas fa-user"></i><span
                    class="danger-text font-bold fnt-5 ml-2 mr-1" id="spnLeftEmployeeCount">32</span>Left Employees</a>
        </div>
        <div class="m-3"><a href="#" data-action="total-emp" class="tab-lnk"><i class="fas fa-users"></i><span
                    class="warning-text font-bold fnt-5 ml-2 mr-1" id="spnTotalEmployeeCount">164</span>Total
                Employees</a>
        </div>
        <div class="m-3"><a href="#" data-action="no-ss" class="tab-lnk"><i class="fas fa-users"></i><span
                    class="warning-text font-bold fnt-5 ml-2 mr-1" id="spnSSNotFound">6</span>SS Not Found</a></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead class="t-head">
                    <tr>
                        <th *ngFor="let head of headers"><a>{{head}}</a></th>
                    </tr>
                    <tr >
                        <td>
                            <input type="text" class="form-control emp-no" name="employeeNumber" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeName" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeEmail" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeEmail" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeEmail" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeEmail" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeName" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeEmail" >
                        </td>
                        <td>
                            <input type="text" class="form-control" name="employeeEmail" >
                        </td>
                        <td>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let employee of employees">
                             <td>{{employee.code}}</td>
                             <td>{{employee.name}}</td>
                             <td>{{employee.branch}}</td>
                             <td>{{employee.department}}</td>
                             <td>{{employee.designation}}</td>
                             <td>{{employee.division}}</td>
                             <td>{{employee.grade}}</td>
                             <td>{{employee.category}}</td>
                             <td>{{employee.project}}</td>
                             <td>
                                <a  title="View" class="icon-margin"><span class="fas fa-eye"></span></a>
                                <a title="Edit" class="icon-margin"><i class="fas fa-user-edit"></i></a>
                             </td>
                         </tr>
                    </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button id="btn_add" type="button" class="btn btn-primary button" disabled="disabled"><i
                    class="fas fa-user-plus"></i>Add</button>
        </div>
    </div>
</div>











