<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="m-2">
            <h3 class="h-size"><i class="fa fa-user mr-1"></i><b>Resource Recruitment Request Processing</b></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead class="t-head">
                    <tr>
                        <th *ngFor="let head of headers"><a>{{head}}</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of budgetApprovedList; let i = index">
                        <td class="action-width align-center">{{i + 1}}</td>
                        <td>{{data.requestRaisedByFirstName}} {{data.requestRaisedByLastName}}</td>
                        <td>{{data.requestDate}}</td>
                        <td>{{data.resourceTitle}}</td>
                        <td>{{data.project.projectName}}</td>
                        <td>{{data.hiringStartDate}}</td>
                        <!-- <td>{{data.budgetApprovalAction}}</td> -->
                        <td> <a title="View JD" (click)="viewJD(data.jobId)" class="icon-margin edit">{{data.jobId}}</a></td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" required value="{{data.hrManagerStatus}}" (change)="getStatus($event)"
                                [disabled]="data.hrManagerStatus=='internal-Mapping' || data.hrManagerStatus=='recruitment'">
                                    <option value="" >Select status</option>
                                    <option value="internal-Mapping">Internal Mappinng</option>
                                    <option value="recruitment">Recruitment</option>
                                </select>
                                <div *ngIf="index == i && isStatusValid" class="color-red">
                                    <div>{{statusText}}</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" required [(ngModel)]="data.hrManagerRemarks"
                                [disabled]="data.hrManagerStatus=='internal-Mapping' || data.hrManagerStatus=='recruitment'"
                                value="{{data.hrManagerRemarks}}" class="form-control" />
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary"
                                [disabled]="data.hrManagerStatus=='internal-Mapping' || data.hrManagerStatus=='recruitment'"
                                (click)="updateResourceRecrutmentProcessing(i, data.jobId)">
                                <i class="fas fa-user-edit mr-1"></i>Update
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade common-model" id="view-jd">
        <div class="modal-dialog modal-xl">
            <div class="modal-content model width">
                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="modal-title"><i class="fa fa-eye" aria-hidden="true"></i> View JD
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body sample">
                    <div *ngFor="let data of newResourceIndent">
                        <div class="row col-12 padding-field-bottom">
                            <div class="col-2">
                                <label>Resource Title :</label>
                            </div>
                            <div class="col-10">
                                {{data.resourceTitle}}
                            </div>
                        </div>
                        <div class="row col-12 padding-field-bottom">
                            <div class="col-2">
                                <label>For which project :</label>
                            </div>
                            <div class="col-10">
                                {{data.project.projectName}}
                            </div>
                        </div>
                        <div class="row col-12 padding-field-bottom">
                            <div class="col-2">
                                <label>Number Required :</label>
                            </div>
                            <div class="col-10">
                                {{data.numberRequired}}
                            </div>
                        </div>
                        <div class="row col-12 padding-field-bottom">
                            <div class="col-2">
                                <label>Request Reason :</label>
                            </div>
                            <div class="col-10">
                                {{data.requestReason}}
                            </div>
                        </div>
                        <div class="row col-12 padding-field-bottom">
                            <div class="col-2">
                                <label>Hiring Start Date :</label>
                            </div>
                            <div class="col-10">
                                {{data.hiringStartDate}}
                            </div>
                        </div>
                        <div class="row col-12 padding-field-bottom">
                            <div class="col-2">
                                <label>Job Description :</label>
                            </div>
                            <div class="col-10 align-justify">{{data.jobDescription}}</div>
                        </div>
                        <div class="row col-12 padding-field-bottom">
                            <div class="col-2">
                                <label>Attachment :</label>
                            </div>
                            <div class="col-10">
                                <a title="Download to View" class="icon-margin"
                                    (click)="downloadDocumentAttachment(data.filePath, data.fileName)"
                                    target="_blank"><em class="fas fa-download"></em></a>
                                {{data.fileName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>