<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-md-5">
    
                <div class="row mt-3">
    
                    <div class="col-md-6">
                        <div class="custom-file mb-2">
                            <input type="file" class="custom-file-input" id="customFile" name="filename">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <button class="btn btn-sm btn-secondary">Upload</button>
                    </div>
    
                </div>
    
                <div class="row">
    
                    <div class="col-md-6">
                        <select class="form-control form-control-sm">
                            <option>Small select</option>
                        </select>
                    </div>
    
                    <div class="col-md-6">
                        <select class="form-control form-control-sm">
                            <option>Small select</option>
                        </select>
                    </div>
    
                </div>
    
                <div class="row mt-2">
                    <div class="col-md-3">
                        <button class="bt btn-sm btn-secondary">Import</button>
    
                    </div>
    
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Auto
                            </label>
                        </div>
                    </div>
                </div>
    
    
    
                <div class="row">
                    <div class="col-md-12">
                        <div class="employee-block">
                            <form>
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-6 col-form-label">Employee Code</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="employee">
                                            <option>Small select</option>
                                          </select>
                                    </div>
                                </div>
                               
    
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-6 col-form-label">Basic Salary</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="employee">
                                            <option>House Rent Allowance</option>
                                          </select>
                                    </div>
                                </div>
    
    
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-6 col-form-label">House Rent Allowance</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="employee">
                                            <option>Small select</option>
                                          </select>
                                    </div>
                                </div>
    
    
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-6 col-form-label">Conveyance Allowance</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="employee">
                                            <option>Small select</option>
                                          </select>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-6 col-form-label">Special Allowance</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="employee">
                                            <option>Small select</option>
                                          </select>
                                    </div>
                                </div>
                                
    
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-6 col-form-label">Provident Fund</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="employee">
                                            <option>Small select</option>
                                          </select>
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-6 col-form-label">ESIC</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="employee">
                                            <option>Small select</option>
                                          </select>
                                    </div>
                                </div>
    
    
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-6 col-form-label">TDS</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="employee">
                                            <option>Small select</option>
                                          </select>
                                    </div>
                                </div>
    
    
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-6 col-form-label">PF Wages</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="employee">
                                            <option>Small select</option>
                                          </select>
                                    </div>
                                </div>
    
    
                                <div class="form-group row">
                                    <label for="employee" class="col-sm-6 col-form-label">Pension Wage</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="employee">
                                            <option>Small select</option>
                                          </select>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
    
    
    
    
            </div>
    
            <div class="col-md-6">
                
                <div class="row mt-3">
                    <div class="col-md-2">
                        <button class="btn btn-sm btn-secondary">Save</button>
                    </div>
    
                    <div class="col-md-2">
                        <button class="btn btn-sm btn-warning">Save</button>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>