/* .form-field{

    display: flex;
} */

.form-field label {
    min-width: 40%;
    color: #5d6170;
    font-weight: normal;
}



.form-section > .title {
    margin-left: -30px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #5d6170;
    font-style: italic;
    margin-bottom: 1rem;
}

.form-section {
    padding-left: 30px;
    margin-bottom: 1rem;
}
.text{
margin-bottom: 6px;
}
/* add employee */


.ml-60{
    margin-left: 60px;
}

.form-control{
    height: 30px !important;
    margin: 5px;
    border: 1px solid #81badb;
}


form{
    font-family: sans-serif;
    font-size: 1rem;
    
}



.title {
    margin-left: -30px;
    color: #5d6170;
    margin-bottom: 1rem !important;
   
}


table{
    font-family: sans-serif;
    font-size: 1.125rem;
    
}