<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-2">
            <h3 class="text-center text-white bg-info"><i class="fas fa-image mr-1"></i>Gallery Master</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

            <div class="form-group row">
                <label for="event" class="col-sm-6 col-form-label">Select Event</label>
                <div class="col-sm-6">
                    <select class="form-control form-control-sm" id="event">
                        <option>Select Event</option>
                        <option>Birthday Celebrations</option>
                    </select>
                </div>

            </div>

        </div>

        <div class="col-md-2">
            <div class="form-group">
                <input type="file" class="custom-file-input form-control-sm"  required>
                <label class="custom-file-label form-control-sm" for="validatedCustomFile">Choose file...</label>
            </div>
        </div>

        <div class="col-md-2">
            <button class="btn btn-sm btn-secondary">Upload All</button>
        </div>

    </div>