<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="m-2">
            <div class="h-size"><em class="fa fa-user"></em> <strong>List of My Approved Loan/Advances</strong></div>
        </div>
        <div class="flex-fill">
        </div>
        <!-- <div class="m-3"><input class="form-control rounded-pill py-2 border-right-0 border" type="search"
                placeholder="search" id="example-search-input" [(ngModel)]="searchModel" (ngModelChange)="search()">
        </div> -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead class="t-head">
                    <tr>
                        <th *ngFor="let head of headers3"><a>{{head}}</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees2">
                        <td>{{employee.employee.employeeCode}} - {{employee.employee.firstName}}</td>
                        <td>{{employee.loanOrAdvType}}</td>
                        <td>{{employee.loanTypeId.loanName}}</td>
                        <td>{{employee.appliedDate}}</td>
                        <td>{{employee.budgetLimit}}</td>
                        <td>{{employee.loanAmount}}</td>
                        <td>{{employee.emiCalculatedField}}</td>
                        <td>{{employee.installmentMonths}}</td>
                        <td>{{employee.startrecoveryfrom.year}} - {{employee.startrecoveryfrom.month}}</td>
                        <td>{{employee.status}}</td>
                        <td>{{employee.purpose}}</td>
                        <td>
                            <span *ngFor="let doc of employee.documents">
                                <a class="action" title="File Downlaod" (click)="viewDocument(doc, employee)"><i
                                        class="fa fa-download" aria-hidden="true"></i></a>&nbsp;
                            </span>
                        </td>
                        <table class="table" *ngIf="employee.approveLoans!=null">
                            <thead class="t-head">
                                <tr>
                                    <th *ngFor="let head of headers1"><a>{{head}}</a></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let value of employee.approveLoans">
                                    <td>{{value.status}}</td>
                                    <td>{{value.approvedDate | date:'dd-MM-YYYY'}}</td>
                                    <td>{{value.approverName}}</td>
                                    <td>{{value.approvedAmount}}</td>
                                    <td>{{value.remarks}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-sm" (click)="modelShow()" data-toggle="modal"
                data-target="#employeeModelPopup">
                <i class="fas fa-user-plus"></i> Add
            </button>
        </div>
    </div> -->
</div>

<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="m-2">
            <div class="h-size"><em class="fa fa-user"></em> <strong>List of Approve Loan/Advances</strong></div>
        </div>
        <div class="flex-fill">
        </div>
        <!-- <div class="m-3"><input class="form-control rounded-pill py-2 border-right-0 border" type="search"
                placeholder="search" id="example-search-input" [(ngModel)]="searchModel" (ngModelChange)="search()">
        </div> -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead class="t-head">
                    <tr>
                        <th *ngFor="let head of headers2"><a>{{head}}</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of outLoansList">
                        <td>{{employee.employee.employeeCode}} - {{employee.employee.firstName}}</td>
                        <td>{{employee.loanOrAdvType}}</td>
                        <td>{{employee.loanTypeId.loanName}}</td>
                        <td>{{employee.appliedDate}}</td>
                        <td>{{employee.budgetLimit}}</td>
                        <td>{{employee.loanAmount}}</td>
                        <td>{{employee.emiCalculatedField}}</td>
                        <td>{{employee.installmentMonths}}</td>
                        <td>{{employee.startrecoveryfrom.year}} - {{employee.startrecoveryfrom.month}}</td>
                        <td>{{employee.status}}</td>
                        <td>{{employee.purpose}}</td>
                        <td>
                            <span *ngFor="let doc of employee.documents">
                                <a class="action" title="File Downlaod" (click)="viewDocument(doc, employee)"><i
                                        class="fa fa-download" aria-hidden="true"></i></a>&nbsp;
                            </span>
                        </td>
                        <td>
                            <span *ngFor="let approve of employee.approveLoans">
                                <div *ngIf="approve.approverName == approvedBy ">{{approve.status}}</div>
                            </span>
                        </td>
                        <td>

                            <a *ngIf="!checkValue(employee.approveLoans)" title="Edit" (click)="modelShowEdit(employee)"
                                class="icon-margin"><i class="fas fa-user-edit"></i></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>



<div class="modal fade common-model" id="employeeModelPopup">
    <div class="modal-dialog modal-xl">
        <div class="modal-content model">
            <form [formGroup]="loanForm" (ngSubmit)="submit()">
                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="modal-title"><i class="fas fa-plus"></i>/ <i class="fas fa-edit ml-1"></i> Approved
                        Loan/Advance
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-6 radio-font padd-right-0">
                            <span><input id="deny" class="radio-size" name="loanAdvType" type="radio" value="Loan"
                                    [(ngModel)]="loanAdvType" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="handleType('Loan')" style="cursor: pointer;" checked
                                    [attr.disabled]="''">
                                <label>&nbsp;Loan</label></span>&nbsp;
                            <span><input id="approve" class="radio-size" name="loanAdvType" type="radio" value="Advance"
                                    style="cursor: pointer;" [(ngModel)]="loanAdvType" [attr.disabled]="''"
                                    [ngModelOptions]="{standalone: true}" (ngModelChange)="handleType('Advance')">
                                <label>&nbsp;Advance</label></span>
                        </div>
                        <div class="col-2">
                            <label for="type">Type<span class="color-red">*</span></label>
                        </div>
                        <div class="col-4">
                            <select class="form-control" [(ngModel)]="loanType" id="loanType" formControlName="loanType"
                                (ngModelChange)="changeType(loanType)">
                                <option [ngValue]="null" selected disabled>Select Loan Type </option>
                                <option *ngFor="let loanType of loanTypes" [value]="loanType.loanId">
                                    {{loanType.loanName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label for="type">Applied Date<span class="color-red">*</span></label>
                        </div>
                        <div class="col-4">
                            <input type="text" formControlName="appliedDate" placeholder="Please Select Date"
                                class="text form-control pull-top-5" readonly />
                        </div>
                        <div class="col-2">
                            <label>Budget Limit</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Please Enter Budget Limit"
                                formControlName="budgetLimit">
                        </div>
                    </div>
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label for="type">Amount Required<span class="color-red">*</span></label>
                        </div>
                        <div class="col-4">
                            <input type="number" class="form-control" placeholder="Please Enter Amount Required"
                                formControlName="amountRequired"
                                (ngModelChange)="changeTennureMonths(installmentMonths)">
                        </div>
                        <div class="col-2">
                            <label for="type">Installments Opted<span class="color-red">*</span></label>
                        </div>
                        <div class="col-4">
                            <select class="form-control" [(ngModel)]="installmentMonths" id="installmentMonths"
                                formControlName="installmentMonths"
                                (ngModelChange)="changeTennureMonths(installmentMonths)">
                                <option [ngValue]="null" selected disabled>Select Installments Opted </option>
                                <option *ngFor="let tenure of tenures" [value]="tenure">{{tenure}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label for="type">EMI<span class="color-red">*</span></label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Please Enter EMI"
                                formControlName="emiCalculatedField" readonly>
                        </div>
                        <div class="col-2">
                            <label>Work Period</label>
                        </div>
                        <div class="col-4 row padd-right-0">
                            <div class="col-6 padd-right-0">
                                <input type="text" class="form-control" placeholder="Please Enter Work Period Year"
                                    formControlName="workPeriodyear" readonly>
                            </div>
                            <div class="col-6 padd-right-0">
                                <input type="text" class="form-control" placeholder="Please Enter Work Period Month"
                                    formControlName="workPeriodMonth" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label for="type">Status<span class="color-red">*</span></label>
                        </div>
                        <div class="col-4">
                            <select class="form-control" [(ngModel)]="status" id="status" formControlName="status">
                                <option [ngValue]="null" selected disabled>Select Status </option>
                                <option *ngFor="let status of statusList" [value]="status">{{status}}</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label>Start Recovery From</label>
                        </div>
                        <div class="col-4 row padd-right-0">
                            <div class="col-6 padd-right-0">
                                <select id="year" class="form-control" [(ngModel)]="year" formControlName="year">
                                    <option [ngValue]="null" selected disabled>Select year </option>
                                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
                                </select>
                            </div>
                            <div class="col-6 padd-right-0">
                                <select id="month" class="form-control" [(ngModel)]="month" formControlName="month">
                                    <option [ngValue]="null" selected disabled>Select Month </option>
                                    <option *ngFor="let month of months" [value]="month">{{month}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Purpose</label>
                        </div>
                        <div class="col-4">
                            <input type="text" [(ngModel)]="purpose" formControlName="purpose"
                                placeholder="Please Enter Purpose" class="form-control form-control-sm" id="purpose">
                        </div>
                        <div class="col-2" *ngIf="!fileSelected">
                            <label>Add Attachment <span class="color-red">* </span></label>
                        </div>
                        <div class="col-4" *ngIf="!fileSelected">
                            <input type="file" formControlName="selectedFile" class="form-control height-45"
                                (change)="onFileChanged($event)">
                        </div>
                    </div>
                    <hr>



                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Status<span class="color-red">* </span></label>
                        </div>
                        <div class="col-4">
                            <select formControlName="approvestatus" id="approvestatus" name="approvestatus"
                                class="custom-select-box form-control">
                                <option value=''>Please Select Status</option>
                                <option value='approved'>Approved</option>
                                <option value='reject'>Reject</option>

                            </select>

                        </div>
                        <div *ngIf="level=='leveln'" class="col-2">
                            <label for="amount">Approved Date<span class="color-red">*</span></label>
                        </div>
                        <div *ngIf="level=='leveln'" class="col-4">
                            <input type="text" id="approvedDate" name="approvedDate" formControlName="approvedDate"
                                bsDatepicker placeholder="Please Select Date" [minDate]="now"
                                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }" bsDatepicker
                                (bsValueChange)="onApprovedDateValueChange($event)" placement="bottom"
                                class="text form-control pull-top-5" maxlength="50" />

                        </div>
                    </div>


                    <div *ngIf="level == 'leveln' " class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Approved By<span class="color-red">* </span></label>
                        </div>
                        <div class="col-4">
                            <input type="text" value="{{approvedBy}}" class="form-control" placeholder="" readonly
                                formControlName="approvedBy">

                        </div>
                        <div class="col-2">
                            <label for="amount">Approved Amount<span class="color-red">*</span></label>
                        </div>

                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Please Enter Amount"
                                formControlName="approvedAmount" id="approvedAmount" name="approvedAmount"
                                (keypress)="decimalFilter($event)">


                        </div>
                    </div>


                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Remarks<span class="color-red">* </span></label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Please Enter Remarks"
                                formControlName="remarks" id="remarks" name="remarks">

                        </div>

                    </div>








                    <div class="row">
                        <div class="col-md-6 pull-left">
                            <button type="submit" id="btnComponentSave" [disabled]="submitProcessing"
                                class="button btn-primary btn-style"><i class="fas fa-save"></i>
                                {{submitText}} <i class="fa fa-spinner fa-spin" *ngIf="submitProcessing"
                                    style="font-size:19px"></i></button>
                        </div>
                        <div class="col-md-6 pull-right" *ngIf="submitText == 'Save'">
                            <button type="button" id="btnComponentSave" (click)="clear()"
                                class="button btn-warning btn-style" [disabled]="submitProcessing">
                                Clear</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal alert-modal fade" id="donwload_doc" role="dialog" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content model">
            <div class="modal-header " id="msg_header">
                <h4 class="modal-title">Download</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row col-12 padding-field-bottom">
                    <div class="col-2">
                        <label>File Name:</label>
                    </div>
                    <div class="col-10">
                        {{document.fileName}}
                    </div>
                </div>
                <hr>
                <div class="row col-12 padding-field-bottom">
                    <button type="button" target="_blank"
                        (click)="downloadDocumentAttachment(document.filePath, document.fileName)"
                        class="button btn-primary btn-style">Downlaod</button>
                    <button type="button" (click)="deleteDoc(document.fileName)" class="button btn-warning btn-style">
                        Delete</button>
                    <button type="button" class="button btn-danger btn-style" data-dismiss="modal">
                        Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal alert-modal fade" id="add-files" role="dialog" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content model">
            <div class="modal-header " id="msg_header">
                <h4 class="modal-title">Upload</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row col-12 padding-field-bottom">
                    <div class="col-4">
                        <label>Loan Type And Name<span class="color-red">* </span></label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Please Enter Loan Name"
                            value="{{loanTypeName}}" readonly>
                    </div>
                </div>
                <div class="row col-12 padding-field-bottom">
                    <div class="col-4">
                        <label>Add Attachment <span class="color-red">* </span></label>
                    </div>
                    <div class="col-8">
                        <input type="file" [(ngModel)]="selectedFile1" class="form-control height-45"
                            (change)="onFileChanged1($event)">
                        <span class="color-red"
                            *ngIf="submitted1 && (selectedFile1 == '' || selectedFile1 == undefined)">Attachment
                            {{requiredErrorText}}</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <button type="button" id="btnComponentSave" [disabled]="submitProcessing" (click)="addFile()"
                            class="button btn-primary btn-style"><i class="fas fa-save"></i>
                            Save <i class="fa fa-spinner fa-spin" *ngIf="submitProcessing"
                                style="font-size:19px"></i></button>
                    </div>
                    <div class="col-md-6 pull-right">
                        <button type="button" id="btnComponentSave" (click)="clear1()"
                            class="button btn-warning btn-style" [disabled]="submitProcessing">
                            Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>