<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="m-2">
            <div class="h-size"><i class="fa fa-user"></i> <b> List of My Approved Reimbursements</b></div>
        </div>
        <div class="flex-fill">
        </div>
        <div class="m-3"><input class="form-control rounded-pill py-2 border-right-0 border" type="search"
            placeholder="search" id="example-search-input" [(ngModel)]="searchModel" (ngModelChange)="search()">
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead class="t-head">
                    <tr>
                        <th class="action-width align-center"><a>#</a></th>
                        <th *ngFor="let head of headers"><a>{{head}}</a></th>
                        <th class="action-width align-center">Approved Details</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reimbursement of approvedReimbursementsList; let i=index">
                        <td class="action-width align-center">{{i + 1}}</td>
                        <td>{{reimbursement.employeeId}} {{reimbursement.employeeName}}</td>
                        <td>{{reimbursement.appliedDate | date}}</td>
                        <td>{{reimbursement.expenseCode}}</td>
                        <td style="width: 25%;">{{reimbursement.description}}</td>
                        <td>{{reimbursement.reportingManagerId}} {{reimbursement.reportingManagerName}}</td>
                        <td>
                            <span *ngFor="let doc of reimbursement.documents">
                                <a class="action" (click)="viewDocument(doc, reimbursement.reimbursementId)"><i
                                        class="fa fa-download" aria-hidden="true"></i></a>&nbsp;
                            </span>
                        </td>


                        <table class="table" *ngIf="reimbursement.approveReimbursements!=null">
                            <thead class="t-head">
                                <tr>
                                    <th *ngFor="let head of headers1"><a>{{head}}</a></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let value of reimbursement.approveReimbursements">
                                    <td>{{value.status}}</td>
                                    <td>{{value.approvedDate | date:'dd-MM-YYYY'}}</td>
                                    <td>{{value.approverName}}</td>
                                    <td>{{value.approvedAmount}}</td>
                                    <td>{{value.remarks}}</td>
                                    
                                </tr>

                            </tbody>
                        </table>

                        <!-- <td></td> -->
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    
</div>


<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="m-2">
            <div class="h-size"><i class="fa fa-user"></i> <b> List of Approve Reimbursements</b></div>
        </div>
        <div class="flex-fill">
        </div>
        <!-- <div class="m-3"><input class="form-control rounded-pill py-2 border-right-0 border" type="search"
                placeholder="search" id="example-search-input">
        </div> -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead class="t-head">
                    <tr>
                        <th class="action-width align-center"><a>#</a></th>
                        <th *ngFor="let head of headers"><a>{{head}}</a></th>
                        <th class="action-width align-center">Status</th>
                        <th class="action-width align-center">Remarks</th>
                        <th class="action-width align-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reimbursement of outReimbursementsList; let i=index">
                        <td class="action-width align-center">{{i + 1}}</td>
                        <td>{{reimbursement.employeeId}} {{reimbursement.employeeName}}</td>
                        <td>{{reimbursement.appliedDate | date}}</td>
                        <td>{{reimbursement.expenseCode}}</td>
                        <td style="width: 25%;">{{reimbursement.description}}</td>
                        <td>{{reimbursement.reportingManagerId}} {{reimbursement.reportingManagerName}}</td>
                        <td>
                            <span *ngFor="let doc of reimbursement.documents">
                                <a class="action" (click)="viewDocument(doc, reimbursement.reimbursementId)"><i
                                        class="fa fa-download" aria-hidden="true"></i></a>&nbsp;
                            </span>
                        </td>
                        <td>
                            <span *ngFor="let approve of reimbursement.approveReimbursements"> 
                                <div  *ngIf="approve.approverName == userName ">{{approve.status}}</div>
                            </span>
                        </td>
                        <td>
                            <span *ngFor="let approve of reimbursement.approveReimbursements"> 
                                <div  *ngIf="approve.approverName == userName ">{{approve.remarks}}</div>
                            </span>
                        </td>
                        <td style="width: 15%;" class="action-width align-center">
                            <!-- <a class="action" title="Show Approval Workflow" data-toggle="modal"
                                data-target="#approval-wf-list" (click)="showApprvalWorlflow(reimbursement)">Show
                                Approval Workflow</a> &nbsp;
                            <a class="action" title="Add File" data-toggle="modal" data-target="#add-files"
                                (click)="addFileClick(reimbursement)">Add File</a>&nbsp; -->
                            <!-- <span *ngFor="let approve of reimbursement.approveReimbursements">  -->
                                <a *ngIf="!checkValue(reimbursement.approveReimbursements)" title="Edit" class="icon-margin edit"><i  class="fas fa-user-edit"
                                    (click)="approveReimbursement(reimbursement)"></i></a>
                            <!-- </span> -->
                            <!-- <a *ngIf="reimbursement.approveReimbursements == null " title="Edit" class="icon-margin edit"><i  class="fas fa-user-edit"
                                (click)="approveReimbursement(reimbursement)"></i></a> -->
                            <!-- <a title="Delete" class="icon-margin" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage" placement="left"
                                (confirm)="delete(reimbursement.reimbursementId)" (cancel)="cancelClicked = true"><span
                                    class="fas fa-trash"></span></a> -->
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    
</div>

<div class="modal fade common-model" id="add-reimbursement">
    <div class="modal-dialog modal-xl">
        <div class="modal-content model">
            <!-- Modal Header -->
            <div class="modal-header">
                <div class="modal-title"><i class="fas fa-plus"></i>/ <i class="fas fa-edit ml-1"></i> Approve
                    Reimbursement
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Employee Id And Name<span class="color-red">* </span></label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Please Enter Employee Id And Name"
                                formControlName="employeeName" readonly>
                        </div>
                        <div class="col-2">
                            <label for="reimbursement">Applied Date <span class="color-red">*</span></label>
                        </div>
                        <div class="col-4">
                            <input type="text" formControlName="appliedDate" bsDatepicker [disabled]="true" readonly
                                placeholder="Please Select Date"
                                [ngClass]="{ 'is-invalid': submitted && form.controls.appliedDate.errors }"
                                [minDate]="now" readonly
                                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }" bsDatepicker
                                (bsValueChange)="onAppliedDateValueChange($event)" placement="bottom"
                                class="text form-control pull-top-5" maxlength="50" />
                            <span class="color-red" *ngIf="submitted && form_.appliedDate.errors">Applied Date
                                {{requiredErrorText}}</span>
                        </div>
                    </div>
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Expense Type <span class="color-red">* </span></label>
                        </div>
                        <div class="col-4">
                            <select [(ngModel)]="expenseTypeModal" formControlName="expenseType" [disabled]="true" readonly
                                class="custom-select-box form-control"
                                [ngClass]="{ 'is-invalid': submitted && form_.expenseType.errors }">
                                <option value='' disabled>Please Select Expense Type</option>
                                <option *ngFor="let expenseType of expenseTypeList" [value]="expenseType.expenseTypeId">
                                    {{expenseType.expenseCode}}
                                </option>
                            </select>
                            <span class="color-red" *ngIf="submitted && form_.expenseType.errors">Expense Type
                                {{requiredErrorText}}</span>
                        </div>
                        <!-- <div class="col-2">
                            <label for="grade">Reporting Manager<span class="color-red">*</span></label>
                        </div>

                        <div class="col-4">
                            <input type="text" class="form-control" formControlName="reportingManager" readonly>
                        </div> -->

                        <div class="col-2">
                            <label>Approved By<span class="color-red">* </span></label>
                        </div>
                        <div class="col-4">
                            <input type="text" value="{{approvedBy}}" class="form-control"  placeholder="" readonly
                            formControlName="approvedBy"
                                [ngClass]="{ 'is-invalid': submitted && form_.approvedBy.errors }">
                            <span class="color-red" *ngIf="submitted && form_.approvedBy.errors">Approved By
                                {{requiredErrorText}}</span>
                        </div>

                    </div>
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Description<span class="color-red">* </span></label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" readonly placeholder="Please Enter Description"
                                formControlName="description"
                                [ngClass]="{ 'is-invalid': submitted && form_.description.errors }">
                            <span class="color-red" *ngIf="submitted && form_.description.errors">Description
                                {{requiredErrorText}}</span>
                        </div>
                        <div class="col-2">
                            <label for="amount">Amount<span class="color-red">*</span></label>
                        </div>

                        <div class="col-4">
                            <input type="text" class="form-control" readonly placeholder="Please Enter Amount"
                                formControlName="amount" (keypress)="decimalFilter($event)"
                                [ngClass]="{ 'is-invalid': submitted && form_.amount.errors }">
                            <span class="color-red" *ngIf="submitted && form_.amount.errors">Amount
                                {{requiredErrorText}}</span>

                        </div>
                    </div>


                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Status<span class="color-red">* </span></label>
                        </div>
                        <div class="col-4">
                            <select formControlName="status" id="status" name="status"
                                class="custom-select-box form-control"
                                [ngClass]="{ 'is-invalid': submitted && form_.status.errors }">
                                <option value=''>Please Select Status</option>
                                <option *ngIf="level=='leveln'" value='approved'>Approved</option>
                                <option *ngIf="level!='leveln'" value='Level 1 Approved'>Level 1 Approved</option>
                                <option value='reject'>Reject</option>
                               
                            </select>
                            <span class="color-red" *ngIf="submitted && form_.status.errors">status
                                {{requiredErrorText}}</span>
                        </div>
                        <div *ngIf="level=='leveln'" class="col-2">
                            <label for="amount">Approved Date<span class="color-red">*</span></label>
                        </div>
                        <div *ngIf="level=='leveln'" class="col-4">
                        <input type="text" id="approvedDate" name="approvedDate" formControlName="approvedDate" bsDatepicker
                                placeholder="Please Select Date"
                                [ngClass]="{ 'is-invalid': submitted && form.controls.appliedDate.errors }"
                                [minDate]="now" 
                                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }" bsDatepicker
                                (bsValueChange)="onAppliedDateValueChange($event)" placement="bottom"
                                class="text form-control pull-top-5" maxlength="50" />
                            <span class="color-red" *ngIf="submitted && form_.approvedDate.errors">Approved Date
                                {{requiredErrorText}}</span>
                        </div>
                    </div>


                    <div class="row col-12 padding-field-bottom">
                        
                        <div *ngIf="level == 'leveln' " class="col-2">
                            <label for="amount">Approved Amount<span class="color-red">*</span></label>
                        </div>

                        <div *ngIf="level == 'leveln' " class="col-4">
                            <input type="text" class="form-control"  placeholder="Please Enter Amount"
                            formControlName="approvedAmount" id="approvedAmount" name="approvedAmount" (keypress)="decimalFilter($event)"
                                [ngClass]="{ 'is-invalid': submitted && form_.approvedAmount.errors }">
                            <span class="color-red" *ngIf="submitted && form_.approvedAmount.errors">Approved Amount
                                {{requiredErrorText}}</span>

                        </div>

                        <div class="col-2">
                            <label>Remarks<span class="color-red">* </span></label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control"  placeholder="Please Enter Remarks"
                            formControlName="remarks" id="remarks" name="remarks"
                                [ngClass]="{ 'is-invalid': submitted && form_.remarks.errors }">
                            <span class="color-red" *ngIf="submitted && form_.remarks.errors">Remarks
                                {{requiredErrorText}}</span>
                        </div>
                    </div>


                    <!-- <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Remarks<span class="color-red">* </span></label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control"  placeholder="Please Enter Remarks"
                            formControlName="remarks" id="remarks" name="remarks"
                                [ngClass]="{ 'is-invalid': submitted && form_.description.errors }">
                            <span class="color-red" *ngIf="submitted && form_.description.errors">Remarks
                                {{requiredErrorText}}</span>
                        </div>
                       
                    </div> -->







                    <div class="row col-12 padding-field-bottom" *ngIf="!fileSelected">
                        <div class="col-2">
                            <label>Add Attachment <span class="color-red">* </span></label>
                        </div>
                        <div class="col-4">
                            <input type="file" formControlName="selectedFile" class="form-control height-45"
                                (change)="onFileChanged($event)">
                            <span class="color-red"
                                *ngIf="submitted && (selectedFile == '' || selectedFile == undefined) && !fileSelected">Attachment
                                {{requiredErrorText}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 pull-left">
                            <button type="submit" id="btnComponentSave" [disabled]="submitProcessing"
                                class="button btn-primary btn-style"><i class="fas fa-save"></i>
                                {{submitText}} <i class="fa fa-spinner fa-spin" *ngIf="submitProcessing"
                                    style="font-size:19px"></i></button>
                        </div>
                        <div class="col-md-6 pull-right" *ngIf="submitText == 'Save'">
                            <button type="button" id="btnComponentSave" (click)="clear()"
                                class="button btn-warning btn-style" [disabled]="submitProcessing">
                                Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal alert-modal fade" id="donwload_doc" role="dialog" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content model">
            <div class="modal-header " id="msg_header">
                <h4 class="modal-title">Download</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row col-12 padding-field-bottom">
                    <div class="col-2">
                        <label>File Name:</label>
                    </div>
                    <div class="col-10">
                        {{document.fileName}}
                    </div>
                </div>
                <hr>
                <div class="row col-12 padding-field-bottom">
                    <button type="button" target="_blank"
                        (click)="downloadDocumentAttachment(document.filePath, document.fileName)"
                        class="button btn-primary btn-style">Downlaod</button>
                    <!-- <button type="button" (click)="deleteDoc(document.fileName)" class="button btn-warning btn-style">
                        Delete</button> -->
                    <button type="button" class="button btn-danger btn-style" data-dismiss="modal">
                        Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal alert-modal fade" id="add-files" role="dialog" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content model">
            <div class="modal-header " id="msg_header">
                <h4 class="modal-title">Upload</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row col-12 padding-field-bottom">
                    <div class="col-4">
                        <label>Employee Id And Name<span class="color-red">* </span></label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Please Enter Employee Id And Name"
                            value="{{employeeIdAndName}}" readonly>
                    </div>
                </div>
                <div class="row col-12 padding-field-bottom">
                    <div class="col-4">
                        <label>Add Attachment <span class="color-red">* </span></label>
                    </div>
                    <div class="col-8">
                        <input type="file" [(ngModel)]="selectedFile1" class="form-control height-45"
                            (change)="onFileChanged1($event)">
                        <span class="color-red"
                            *ngIf="submitted1 && (selectedFile1 == '' || selectedFile1 == undefined)">Attachment
                            {{requiredErrorText}}</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 pull-left">
                        <button type="button" id="btnComponentSave" [disabled]="submitProcessing" (click)="addFile()"
                            class="button btn-primary btn-style"><i class="fas fa-save"></i>
                            Save <i class="fa fa-spinner fa-spin" *ngIf="submitProcessing"
                                style="font-size:19px"></i></button>
                    </div>
                    <div class="col-md-6 pull-right">
                        <button type="button" id="btnComponentSave" (click)="clear1()"
                            class="button btn-warning btn-style" [disabled]="submitProcessing">
                            Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal alert-modal fade" id="approval-wf-list" role="dialog" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content model">
            <div class="modal-header " id="msg_header">
                <h4 class="modal-title">Approval Workflow</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover table-sm">
                            <thead class="t-head">
                                <tr>
                                    <th *ngFor="let head of awHeaders"><a>{{head}}</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let af of approvalFlowDetails; let i=index">
                                    <td>{{af.employeeName}}</td>
                                    <td>{{af.appliedDate | date}}</td>
                                    <td>{{af.amount}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->