
<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="m-2">
            <div class="h-size"><i class="fa fa-user"></i> <b>Division Master</b></div>
        </div>
        <div class="flex-fill">
        </div>
        <div class="m-3"><i class="fa fa-search"></i>
            <span> Search </span><input type="text" value="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <!-- <th *ngFor="let head of headers"><a>{{head}}</a></th> -->
                        <th mat-sort-header="documentId" ><a> Document Code</a></th>
                        <th mat-sort-header="documentId" ><a> Document Code</a></th>
                        <th mat-sort-header="documentId" ><a> Document Code</a></th>
                        <th ><a> Action</a></th>
                    </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let employee of employees">
                             <td>{{employee.designationCode}}</td>
                             <td>{{employee.designationName | titlecase}}</td>
                             
                             <td>{{employee.days}}</td>
                             <td>
                                <a  title="View" class="icon-margin"><span class="fas fa-eye"></span></a>
                                <a title="Edit" class="icon-margin"><i class="fas fa-user-edit"></i></a>
                             </td>
                         </tr>
                    </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button id="btn_add" type="button" class="btn btn-primary button" disabled="disabled"><i
                    class="fas fa-user-plus"></i>Add</button>
        </div>
    </div>
</div>
