
<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="m-2">
            <div class="h-size"><i class="fa fa-user"></i> <b>Cost Center Master</b></div>
        </div>
        <div class="flex-fill">
        </div>
        <div class="m-3"><input class="form-control rounded-pill py-2 border-right-0 border" type="search"
            placeholder="search" id="example-search-input" value="" (keyup)="getCostCenterListBySearchParam($event)">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead matSort (matSortChange)="sortData($event)" class="t-head">
                    <tr>
                        <!-- <th *ngFor="let head of headers"><a>{{head}}</a></th> -->
                        <th mat-sort-header="costCenterCode" ><a> Cost Center Code</a></th>
                        <th mat-sort-header="costCenterName" ><a> Cost Center Name</a></th>
                        <th ><a> Action</a></th>
                    </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let costcenter of sortedData | paginate
                         : {
                             itemsPerPage: itemsPerPage,
                             currentPage: currentPage,
                             totalItems: totalItems
                           };let i=index">
                             <td>{{costcenter.costCenterCode}}</td>
                             <td>{{costcenter.costCenterName | titlecase}}</td>
                             
            
                             <td>
                               
                                <a title="Edit" class="icon-margin" (click)="editCostCenter(costcenter.costCenterId)" data-toggle="modal" data-target="#employeeModelPopup"><i class="fas fa-user-edit"></i></a>

                                <a title="Delete" class="icon-margin"
                                  mwlConfirmationPopover [popoverTitle]="popoverTitle" 
                                  [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteCostCenterById(costcenter.costCenterId)"
                                  (cancel)="cancelClicked = true"><span
                                    class="fas fa-trash"></span></a>

                             </td>
                         </tr>
                    </tbody>

            </table>
            <div class="row" *ngIf="totalElements!=0">
                <div class="col-md-6 pull-left"><span class="show-entry">Showing
                        <span>{{showingFrom}} to {{showingTo}} of {{totalElements}} entries</span></span>&nbsp;
                </div>

                <div class="col-md-6 pull-right" *ngIf="totalItems > 0">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-sm" (click)="modelShow()" data-toggle="modal" data-target="#employeeModelPopup">
                <i class="fas fa-user-plus"></i> Add
            </button>
        </div>
    </div>


    <form [formGroup]= costCenterMastersForm (ngSubmit)="onSubmit()">
        <app-employee-model-popup>
    
    
            <h4 class="modal-title" head><i class="fas fa-plus mr-1"></i> / <i class="fas fa-edit mr-1"></i>Cost Center Details </h4>
       
               <div body>
       
                   <div class="container">
       
                      
       
       
       
                       <div class="row">
                           <div class="col-md-6">
                               <div class="form-group">
                                   <label for="costCenterCode" class="col-form-label">Cost Center Code <span class="color-red">*</span></label>
                                   <input type="text" formControlName="costCenterCode" (input)=checkIfalreadyExist2($event.target.value) class="form-control form-control-sm"  id="costCenterCode">
                                   <span class="color-red" *ngIf="submitted && form_.costCenterCode.errors">Cost Center Code
                                    {{requiredErrorText}}</span>
                                    <span  class="color-red" *ngIf="exist2"> Cost Center Code Already Exist</span>
                               </div>
                           </div>
       
                           <div class="col-md-6">
                               <div class="form-group">
                                   <label for="costCenterName" class="col-form-label">Cost Center Name <span class="color-red">*</span>

                                   </label>
                                   <input type="text" formControlName="costCenterName" (input)=checkIfalreadyExist($event.target.value) class="form-control form-control-sm" id="costCenterName">
                                   <span class="color-red" *ngIf="submitted && form_.costCenterName.errors">Cost Center Name
                                    {{requiredErrorText}}</span>
                                    <span  class="color-red" *ngIf="exist"> Cost Center Name Already Exist</span>
                               </div>
                           </div>
                       </div>

       
                      
       
       
                   </div>
       
       
               </div>
       
               <div footer>

                <div *ngIf=editButtonEnable>
    
                    <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success btn-sm" (click)="updateCostCenterMaster(0)" >Update</button>
                     
    
                </div>
    
                <div *ngIf=!editButtonEnable>
                    
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary btn-sm"  >Save</button>
                 
                
                </div>
                
    
    
               </div>
       
           </app-employee-model-popup>
      </form>

</div>
