<div class="container-fluid">
   
    <div class="bank-form">
        <div class="row">
            <div class="col-md-2">
                <h4><i class="fas fa-user mr-2"></i>Bank Details</h4>
            </div>

            <div class="col-md-3 offset-md-7">
              
                <div class="search-container">
                    <input type="text" placeholder="Search...">
                    <div class="search"></div>
                  </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Bank Code</th>
                        <th scope="col">Bank Name</th>
                        <th scope="col">Account No.</th>
                        <th scope="col">BSR Code</th>
                        <th scope="col">IFSC Code</th>
                        <th scope="col">MICR Code</th>
                        <th scope="col">Bank Address</th>
                        <th scope="col">Contact Person</th>

                      </tr>
                    </thead>
                    <tbody class="">
                      <tr>

                        <td>1</td>
                        <td>Dena Bank</td>
                        <td>487962136894</td>
                        <td>0272409</td>
                        <td>12345</td>
                        <td>123FGD</td>
                        <td>c-12, sg highway</td>
                        <td>9876543210</td>
                        
                      </tr>


                      <tr>

                        <td>2</td>
                        <td>Dena Bank</td>
                        <td>487962136894</td>
                        <td>0272409</td>
                        <td>12345</td>
                        <td>123FGD</td>
                        <td>c-12, sg highway</td>
                        <td>9876543210</td>
                        
                      </tr>
                     
                     
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

</div>