text-box-with-icon>input[type='submit'], .text-box-with-icon>input[type='button'], .text-box-with-icon>button {
    border: none;
    background: none;
    padding: 0px;
    outline: none !important;
    cursor: pointer;
}


.text-box-with-icon {
    border: solid 1px #888;
    background-color: #fff;
    border-radius: 3px;
    padding: 3px;
    display: flex;
}


.text-box-with-icon>input[type='text'] {
    border: none;
    background: none;
    padding: 0px;
    outline: none !important;
    display: inline;
    border-radius: 0px;
    box-shadow: none;
    flex: 1;
}


.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}


.modal-title {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    flex: 1;
    color: #000;
}

.table thead th {
    vertical-align: unset;
    border-bottom: 2px solid #dee2e6;
}

.table tr th, .table tr td {
    border: solid 1px #a3a2a3 !important;
    font-size: 14px;
}

.btn-footer {
    margin: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(231, 225, 225);
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.modal-footer {
    padding: 0.5rem;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
}