.light-bg {
    background-color: #ebeded;
}
.btn-group-vertical .btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0.25em;
}
.btn-outline {
    border: solid 1px #707070;
    display: inline-block;
    padding: 0.5rem 2rem;
    color: #0a0a0a;
}
.btn-outline-1 {
    background-color: white;
    border: solid 1px #ddd;
    display: inline-block;
    padding: 0.5rem 2rem;
    color: #0a0a0a;
    cursor: pointer;
    width: 80%;
    margin-bottom: 5px;
    padding-right: 10px;
    margin-left: 20%;
}
.btn {
    border: solid 1px #ddd;
    outline: none;
    background: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
i{
    margin-right: 0.5rem;
}
.container-fluid{
    font-family: Arial, Helvetica, sans-serif;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #17181a;
}
.left-content{
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
}
.main-head{    
    background-color: #5b9f4f;
    text-align: center;
    color: #fff;
    font-size: large;
    text-decoration: underline;
}
table{    
    font-size: small;
}
.margin-top-5 {
    margin-top: 5px;
}
.header {
    text-align: left;
    background-color:#e5e6e8;
}
.text-danger {
    color: red;
}
.width-auto {
    width: 100%;
    /* margin-bottom: -10%; */
}
a {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.padding-5 {
    padding: 5px;
}
.active { 
    background-color: #5b9f4f;
    text-align: center;
    color: #fff;
    font-size: large;
    text-decoration: underline; 
}
.child-active { 
    color: #5b9f4f;
    text-align: center;
    font-size: medium;
    text-decoration: underline;
}
.modal-title {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    flex: 1;
    color: #000;
  }
  .btn-footer {
    margin: 1px;
    margin-bottom: 15px;
}
.body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
