.form-control {
  height: 30px;
  margin: 5px;
  border: 1px solid #81badb;
}

.btn {
  margin: 10px;
}

.modal-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  flex: 1;
  color: rgb(70, 68, 68);
  font-family: sans-serif;
}

.modal {
  margin-top: 50px;
}

* {
  box-sizing: border-box;
}

.column-1 {
  width: 45.499999995%;
  flex: 0 0 45.499%;
  max-width: 45.499%;
}

.column-2 {
  margin-top: 13%;
  width: 12.499999995%
}

.column-3 {
  float: right;
  width: 45%;
  padding: 10px;
}

.footer {
  float: left;
  width: 100%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.border-design {
  border-style: double;
  border-color: #ced4da;
  height: 300px;
}

.drop-down-width {
  float: left;
  width: 33.33%;
  padding: 10px;
}

label {
  display: inline-block;
  margin-bottom: 0rem;
}

.margin-left-10 {
  margin-left: 10px;
}

h4 {
  margin-top: 10px;
  font-size: 20px;
  text-align: center !important;
}

.font-15 {
  font-size: 15px;
}

.over {
  overflow-y: auto;
  max-height: 100%;
}

select {
  text-align: center;
  text-align-last: center;
  font-size: 11px;
}

option {
  text-align: center;
  font-size: 15px;
}