.reports-box{
    height: 700px;
    background-color: rgb(231, 225, 225);
    width: 235px;
}
.reports-box h2{
   color: #707070;
   font-size: 20px;
}
.reports-box ul li{
    list-style: none;
    color:#55799A ;
    padding-bottom: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-left: -23px;
}
.repoprt-select{
    width: 80% !important;
    padding:0px;
    background-color: #cbc6c6 !important;
    margin-left: 24px;
}

.btn-outline-secondary{
    margin-left: 54px;
    background: white;
}
.select-all{
    /* width: 25% !important; */
    width: 20px;
    height: 15px
}
.s-lable{
    padding-left: 10px;

}
.modal-title{
    margin-left: 200px;
}
.model-table td{
    vertical-align: middle !important;
    padding: 6px !important;
}
.head-margin {
    margin-left: 15px;
}

.align-center{
    margin-left: 300px !important;
}

.btn-header{
    color: white;
    margin-left: 10px;

}
.title-headers h2{
  display: contents;

}
.ml-40{
    margin-left: 40px;
}
.model-tbl tr td h4{
    padding-right: 50px;
}
.model-tbl tr td input{
    height: 32px;
    width: 230px;
}
.mt-10{
    margin-top: 10px;
}
.modal-header{
    padding: 8px 18px !important;
}
.modal-dialog {
    margin-left: 400px;
    margin-top: 0px  !important;
}
.model {
    margin: 4.75rem auto;
}