<div class="modal fade common-model" id="myModal-filter">
    <div class="modal-dialog modal-lg">
        <div class="modal-content model">

            <!-- Modal Header -->
            <div class="modal-header">

                <h4 class="modal-title align-center"><i class="fas fa-filter"></i> Employees Filter</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="title-headers">
                            <h2><i class="fas fa-filter"></i> Master Filter</h2>

                            <button type="button" class="btn btn-secondary btn-sm btn-header ml-40">Apply
                                Filter</button>
                            <button type="button" class="btn btn-secondary btn-sm btn-header">Clear Filter</button>
                        </div>
                        <div>
                            <table class="model-tbl mt-10">
                                <tr>
                                    <td>
                                        <h4>Branch</h4>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Grade</h4>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Department</h4>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Designation</h4>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Division</h4>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Cost Center</h4>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Project</h4>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Category</h4>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Bank</h4>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <input type="text" class="form-control">
                        </div>
                        <br>
                        <div>
                            <table>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="select-all">
                                    </th>
                                    <th>
                                        <label class="s-lable"> Emp Code</label>
                                    </th>
                                    <th>
                                        <label class="s-lable"> Emp Name</label>
                                    </th>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="select-all"></td>
                                    <td><label class="s-lable">111</label> </td>
                                    <td><label class="s-lable">Bharath</label> </td>
                                </tr>

                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Okn</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>