<div class="container-fluid" >

  <ul class="nav nav-tabs menu-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#Master"> Master Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#personal-details"> Personal Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#passport"> Passport, DL Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#Qualification"> Qualification</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#Family-Members"> Family Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#Work-Experience"> Work Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#Document-Attachment"> Document Attachment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#Skills-Hobbies"> Skills & Hobbies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#Other-Info"> Vaccination & Other Info.</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#Medical-Insurance"> Medical Insurance</a>
    </li>
    
  </ul>


  <div class="tab-content">
    <div id="Master" class="tab-pane active">
        <br>
        <app-edit-employee></app-edit-employee>
    </div>
    <div id="personal-details" class="tab-pane">
        <br>
        <app-personal-details></app-personal-details>
    </div>
    <div id="passport" class="tab-pane ">
        <br>
        <app-passport-dl></app-passport-dl>
    </div>
    <div id="Qualification" class="tab-pane ">
      <br>
      <app-qualification></app-qualification>
    </div>
    <div id="Family-Members" class="tab-pane ">
      <br>
      <app-family-members></app-family-members>
    </div>
    <div id="Work-Experience" class="tab-pane ">
      <br>
      <app-work-experiance></app-work-experiance>
    </div>
    <div id="Document-Attachment" class="tab-pane ">
      <app-document></app-document>
      <br>
    </div>
    <div id="Skills-Hobbies" class="tab-pane ">
      <br>
      <app-skill-hobbies></app-skill-hobbies>
    </div>
    <div id="Other-Info" class="tab-pane ">
      <br>
      <app-other-info></app-other-info>
    </div>
    <div id="Medical-Insurance" class="tab-pane ">
      <br>
      <app-medical-insurance></app-medical-insurance>
    </div>
  </div>
</div>    