<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="m-2">
            <div class="h-size"><em class="fa fa-user"></em> <strong> Create Ticket</strong></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead class="t-head">
                    <tr>
                        <th *ngFor="let head of headers2"><a>{{head}}</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees2">
                        <td>{{employee.helpdeskTicketId}}</td>
                        <td>{{employee.departmentId.departmentName}}</td>
                        <td>{{employee.asigneeId.firstName}} {{employee.asigneeId.lastName}}</td>
                        <td>{{employee.problem}}</td>
                        <td>{{employee.ticketStatus}}</td>
                        <td>{{employee.remarks}}</td>
                        
                        <td>
                            <span *ngIf="!employee.approvalStatus"><a title="Edit" (click)="modelShowEdit(employee)"
                                    class="icon-margin"><i class="fas fa-user-edit"></i></a></span>
                            <a title="Logs" (click)="handleLogs(data.helpdeskTicketId)" class="icon-margin"><i
                                        class="fa fa-history"></i></a>
                            <a title="Delete" class="icon-margin" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage" placement="left"
                                (confirm)="delete(employee.helpdeskTicketId)" (cancel)="cancelClicked = true"><span
                                    class="fas fa-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-sm" (click)="modelShow()" data-toggle="modal"
                data-target="#employeeModelPopup">
                <i class="fas fa-user-plus"></i> Create Ticket
            </button>
        </div>
    </div>
</div>
<div class="modal fade common-model" id="employeeModelPopup">
    <div class="modal-dialog modal-xl">
        <div class="modal-content model">
            <form [formGroup]="ticketForm" (ngSubmit)="submit()">
                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="modal-title"><i class="fas fa-plus"></i>/ <i class="fas fa-edit ml-1"></i> Create Ticket
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label for="type">Department<span class="color-red">*</span></label>
                        </div>
                        <div class="col-4">
                            <select class="form-control" id="department" formControlName="department"
                                [ngClass]="{ 'is-invalid': submitted && form_.department.errors }"
                                (change)="getDepartmentheadsDetails()">
                                <option value=null disabled>Please Select Department</option>
                                <option *ngFor="let department of departMentList" [value]=department.departmentId>
                                    {{department.departmentName}}
                                </option>
                            </select>
                            <span class="color-red" *ngIf="submitted && form_.department.errors">Department
                                {{requiredErrorText}}</span>
                        </div>
                        <div class="col-2">
                            <label for="type">Department Head<span class="color-red">*</span></label>
                        </div>
                        <div class="col-4">
                            <select id="department" formControlName="asigneeId" class="form-control text">
                                <option value=null selected disabled>Please Select Department Head</option>
                                <option *ngFor="let employee of employeeDetails" [value]=employee.employeeId>
                                    {{employee.firstName}} {{employee.lastName}}
                                </option>
                                <option value=null *ngIf="employeeDetails.length == 0" disabled>No Data Found!</option>
                            </select>
                            <span class="color-red" *ngIf="submitted && form_.asigneeId.errors">Department Head
                                {{requiredErrorText}}</span>

                        </div>
                    </div>
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Problem<span class="color-red">*</span></label>
                        </div>
                        <div class="col-10">
                            <textarea type="text" class="form-control" placeholder="Please Enter Problem"
                                formControlName="problem"></textarea>
                            <span class="color-red" *ngIf="submitted && form_.problem.errors">Problem
                                {{requiredErrorText}}</span>
                        </div>
                    </div>
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label for="type">Ticket Status<span class="color-red">*</span></label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" formControlName="ticketStatus" readonly>
                        </div>
                    </div>
                    <div class="row" *ngIf="!isSubmitDisabled">
                        <div class="col-md-6 pull-left">
                            <button type="submit" id="btnComponentSave" [disabled]="submitProcessing"
                                class="button btn-primary btn-style"><i class="fas fa-save"></i>
                                {{submitText}} <i class="fa fa-spinner fa-spin" *ngIf="submitProcessing"
                                    style="font-size:19px"></i></button>
                        </div>
                        <div class="col-md-6 pull-right" *ngIf="submitText == 'Save'">
                            <button type="button" id="btnComponentSave" (click)="clear()"
                                class="button btn-warning btn-style" [disabled]="submitProcessing">
                                Clear</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade common-model" id="logs-popup">
    <div class="modal-dialog modal-xl">
        <div class="modal-content model">
            <!-- Modal Header -->
            <div class="modal-header">
                <div class="modal-title"><i class="fas fa-list"></i> Ticket Logs</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-12">
                    <table class="table table-bordered table-hover table-sm">
                        <thead class="t-head">
                            <tr>
                                <th *ngFor="let head of logsHeaders"><a>{{head}}</a></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="logsList.length > 0">
                            <tr *ngFor="let data of logsList">
                                <td>{{data.id}}</td>
                                <td>{{data.logMessage}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="logsList.length == 0">
                            <tr>
                                <td colspan="2">No Records Found!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="col-12 pull-right">
                    <button type="button" class="button btn-danger btn-style" data-dismiss="modal"> Close </button>
                </div>
            </div>
        </div>
    </div>
</div>