.form-control::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 1px;
    padding-top: 2px;
    color: hsl(9, 17%, 24%);
}

.read-only {
    background-color: #eeeeef;
    cursor: auto;
}

.edit {
    cursor: pointer;
}

.padding-field-bottom {
    padding-bottom: 7px;
    margin-left: 0px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 15px;
}

.height-45 {
    height: 45px;
}

.custom-select-box {
    width: 100%;
    font-weight: 500;
    background-color: white;
    height: 34px;
    font-size: 1rem;
    color: #2d3135;
    font-family: none;
    cursor: pointer;
}

.modal-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    flex: 1;
    color: #000;
}

.table tr th,
.table tr td {
    border: solid 1px #a3a2a3 !important;
    font-size: 14px;
}

input,
textarea {
    font-size: 1rem;
    cursor: text;
    height: 34px;
}

.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-top: 8px;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 8px;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.card-style {
    padding: 5px;
    border: 5px solid rgb(209 225 250);
    padding-top: 12px;
}

.disabled {
    color: #666666;
}

hr {
    margin-top: 1px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 4px solid rgb(209 225 250);
}

.scroll {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}