.heading{
    font-size: 17px;
    color: #555;
    font-weight: bolder;
}


.modal{
    margin-top:7vw;
}

/* 
.form-control{
    width:20vw;
    height: 30px ;
    margin: 5px;
    border: 1px solid #81badb;
} */

.modal-footer .btn-success{
    margin-right: 0vw; 
}

.ml-2 {
    margin-left:2vw;;
}

.modal-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    flex: 1;
    color: #000;
  }
  .width {
    width: 88%;
  }

  .align-justify {
    text-align: justify;
      height: 125px;
      overflow-y: scroll;
      border: 1px;
      background-color: #e7e1e1;
      padding: 8px;
  }

  .padding-field-bottom {
    padding-bottom: 7px;
  }

  .col-10 {
    font-size: 15px;
  }

  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .statuError{
    border-color: salmon;
    
  }

 
