<div class="container-fluid">
    <div class="d-flex align-items-center mt-2">
        <div class="m-2">
            <div class="h-size"><em class="fa fa-user"></em> <strong> Referral</strong></div>
        </div>
        <div class="flex-fill">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-sm">
                <thead class="t-head">
                    <tr>
                        <th *ngFor="let head of headers"><a>{{head}}</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf='referralList && referralList.length == 0'>
                        <td colspan="4">
                            <div class="align-center">No Records Found.</div>
                        </td>
                    </tr>
                    <tr *ngFor="let data of referralList | paginate: {
                        itemsPerPage: itemsPerPage,
                        currentPage: currentPage,
                        totalItems: totalItems
                      };let i=index">
                        <td>{{data.name}}</td>
                        <td>{{data.emailAddress}}</td>
                        <td>{{data.description}}</td>
                        <td>
                            <a title="Edit" (click)="modelShowEdit(data)" class="icon-margin"><i
                                    class="fas fa-user-edit"></i></a>
                            <a title="Delete" class="icon-margin" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage" placement="left" (confirm)="delete(data.trainerId)"
                                (cancel)="cancelClicked = true"><span class="fas fa-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" *ngIf="totalElements!=0">
                <div class="col-md-6 col-sm-6 col-6  pagination-area"><span class="show-entry">Showing
                        <span>{{showingFrom}} to {{showingTo}} of {{totalElements}} entries</span></span>&nbsp;
                </div>

                <div class="col-md-6 pull-right" *ngIf="totalElements > pageSize">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-sm" (click)="modelShow()" data-toggle="modal"
                data-target="#referralAddPopup">
                <i class="fas fa-user-plus"></i> Add
            </button>
        </div>
    </div>
</div>
<div class="modal fade common-model" id="referralAddPopup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content model">
            <form [formGroup]="referralForm" (ngSubmit)="submit()">
                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="modal-title">
                        <i class="fas fa-plus"></i>/ <i class="fas fa-edit ml-1"></i> Add/Update Referral
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Name<span class="color-red">*</span></label>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="Please Enter Name"
                                formControlName="name">
                            <span class="color-red" *ngIf="submitted && form_.name.errors">Name
                                {{requiredErrorText}}</span>
                        </div>
                    </div>
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Email<span class="color-red">*</span></label>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="Email (Ex - example@gmail.com)"
                                formControlName="emailAddress">
                            <span class="color-red"
                                *ngIf="submitted && form_.emailAddress.hasError('required')">Email
                                {{requiredErrorText}}</span>
                            <span class="color-red" *ngIf="form_.emailAddress.hasError('pattern')">Please
                                enter
                                valid Email
                            </span>
                        </div>
                    </div>
                    <div class="row col-12 padding-field-bottom">
                        <div class="col-2">
                            <label>Description<span class="color-red">*</span></label>
                        </div>
                        <div class="col-10">
                            <textarea type="number" class="form-control" placeholder="Please Enter Description"
                                formControlName="description"></textarea>
                            <span class="color-red" *ngIf="submitted && form_.description.errors">Description
                                {{requiredErrorText}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 pull-left">
                            <button type="submit" id="btnComponentSave" [disabled]="submitProcessing"
                                class="button btn-primary btn-style"><i class="fas fa-save"></i>
                                {{submitText}} <i class="fa fa-spinner fa-spin" *ngIf="submitProcessing"
                                    style="font-size:19px"></i></button>
                        </div>
                        <div class="col-md-6 pull-right" *ngIf="submitText == 'Create'">
                            <button type="button" id="btnComponentSave" (click)="clear()"
                                class="button btn-warning btn-style" [disabled]="submitProcessing">
                                Clear</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>