.h-size {
    font-size: 17px;
    color: #555;
} 


.model-button{

    color: rgb(24, 131, 173);
    font-weight: bold;
    cursor: pointer; 
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }

.bun-size {
    height: 35px;
}
.padding-top-25 {
    padding-top: 25px;
}